header {
   display: flex;
   justify-content: space-between;
   width: 94%;
   align-items: center;
   padding: 0.5em 0% 0.5em 6%;
   font-family: $font2;
   background-color: Color(P-DarkBlue);

   .logo {
      font-family: $font1;
      text-decoration: none;
      font-size: 2.8em;
      color: Color(P-Yellow);

      &::first-letter {
         color: Color(P-Blue);
      }
   }

   #siu-btn {
      margin-right: 3em;
      font-size: 1em;
      padding: 1em 2em;
      background-color: rgba($color: Color(P-Blue), $alpha: 0.85);
      border: none;
      border-radius: 2em;
      cursor: pointer;
      transition: 0.3s ease-in;
      color: rgb(243, 243, 243);
      // text-transform: uppercase;

      &:hover {
         background-color: rgba($color: Color(P-Blue), $alpha: 1);
      }
   }

   #user-btn {
      cursor: pointer;
      outline: none;
      border: none;
      background-color: Color(P-DarkBlue);
      font-size: 3em;
      color: rgba($color: Color(P-Blue), $alpha: 1);

      &:hover {
         color: rgba($color: Color(P-Blue), $alpha: 0.85);
      }
   }

   .dropdown {
      position: relative;
      display: inline-block;
      margin-right: 10%;

      &:hover .dropdown-content {
         display: flex;
         flex-direction: column;
      }
   }

   .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 180px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
      top: 3.5em;
      right: -3.8em;

      a {
         color: black;
         padding: 18px 16px;
         text-decoration: none;
         display: block;

         &:hover {
            background-color: #f1f1f1;
            color: Color(P-Blue);
         }

         &:last-child {
            border-top: 1px solid Color(P-DarkBlue);

            &:hover {
               color: Color(P-Red);
            }
         }

         i {
            margin-right: 0.3em;
         }
      }
   }
}

.search__box {
   margin-left: 2em;
   height: 30px;
   border-radius: 2em;
   padding: 0.3em;
   border: 3px solid Color(P-Blue);
   background-color: #fff;

   .search__btn {
      color: Color(P-Blue);
      float: right;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 0.8em 0 0.8em;
   }

   input[type="text"] {
      width: 40em;
      border: none;
      outline: none;
      background: none;
      float: left;
      padding: 0;
      font-size: 14px;
      line-height: 30px;
      transition: 0.4s;
      margin-left: 1em;
      text-decoration: none;
   }
}
